<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="social-icons">
					<li>
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li>
						<a href="#">Articles</a>
					</li>
					<li>
						<a href="{{ path('app_about') }}">A propos</a>
					</li>
					<li>
						<a href="#">Inscription</a>
					</li>
					<li>
						<a href="#">Connexion</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-12">
				<div class="copyright-text fw-bold">
					<p>&copy; 2021 Stand Blog Co.| Design:
						<a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
