<div class="px-lg-0 px-2 mb-lg-3 mb-0">
	<section class="container section_news px-sm-0">

		<div class="row p-md-4 p-0 mt-3 main-content">

			<div class="col-12 mb-3 px-0">
				<h4 class="news_title">
					S'abonner à la Newsletter
					<br>
					Et bénéficier de nombreux avantages
				</h4>
				<p class="text-muted fst-italic mt-1 ps-md-3 ps-0">*Vous pouvez vous désinscrire à tout moment.</p>
			</div>


			<form class="row p-3 newsletter_form">

				<div class="col-md-5 col-12 ps-0">
					<input type="text" class="form-control w-100 rounded-0" id="exampleInputEmail1" placeholder="votre nom" aria-describedby="name">
				</div>

				<div class="col-md-5 col-12 mt-md-0 mt-3 ps-md-1 ps-0">
					<input type="email" class="form-control w-100 rounded-0" id="exampleInputEmail1" placeholder="adresse email" aria-describedby="email">
				</div>

				<div class="col-md-2 col-12 my-md-0 my-3 ps-md-2 ps-0">
					<button type="submit" class="btn btn-dark suscribe rounded-0">
						<i class="fas fa-paper-plane"></i>
					</button>
				</div>

			</form>
		</div>
	</section>
</div>
