<div class="sidebar pt-2">
	<div class="row">

		<div class="col-lg-12">
			<div class="sidebar-item search">
				<form class="search_form d-flex border" action="">
					<input type="text" placeholder="Rechercher..." name="search" autocomplete="on" class="input_search">
					<button type="submit" class="border-0 btn_search px-3">
						<i class="fas fa-search text-white"></i>
					</button>
				</form>
			</div>

			<div class="sidebar-heading mt-5 mb-0">
				<h2>Réseaux sociaux</h2>
			</div>
			{% include 'layouts/partials/_social_icons.html.twig' %}
		</div>


		<div class="col-lg-12">
			<div class="sidebar-item recent-posts">
				<div class="sidebar-heading">
					<h2 class="mt-lg-5">Articles récents</h2>
				</div>
				<div class="content">
					<ul>
						<li><a href="post-details.html"><h6>Vestibulum id turpis porttitor sapien facilisis scelerisque</h6><span class="fw-bold">May 31, 2020</span></a></li>
						<li><a href="post-details.html"><h6>Suspendisse et metus nec libero ultrices varius eget in risus</h6><span class="fw-bold">May 28, 2020</span></a></li>
						<li><a href="post-details.html"><h6>Swag hella echo park leggings, shaman cornhole ethical coloring</h6><span class="fw-bold">May 14, 2020</span></a></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="col-lg-12 mt-5">
			<div class="sidebar-heading mb-4">
				<h2>Catégories</h2>
			</div>
			<div class="body widget">
				<ul class="list-unstyled categories-clouds">
					<li>
						<a href="">eCommerce</a>
					</li>
					<li>
						<a href="">Microsoft Technologies</a>
					</li>
					<li>
						<a href="">Creative UX</a>
					</li>
					<li>
						<a href="">Wordpress</a>
					</li>
					<li>
						<a href="">Angular JS</a>
					</li>
					<li>
						<a href="">Enterprise Mobility</a>
					</li>
					<li>
						<a href="">Website Design</a>
					</li>
					<li>
						<a href="">HTML5</a>
					</li>
					<li>
						<a href="">Infographics</a>
					</li>
					<li>
						<a href="">Wordpress Development</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="sidebar-item tags">
				<div class="sidebar-heading">
					<h2>Tags</h2>
				</div>
				<div class="content">
					<ul>
						<li><a href="#">Lifestyle</a></li>
						<li><a href="#">Creative</a></li>
						<li><a href="#">HTML5</a></li>
						<li><a href="#">Inspiration</a></li>
						<li><a href="#">Motivation</a></li>
						<li><a href="#">PSD</a></li>
						<li><a href="#">Responsive</a></li>
					</ul>
				</div>
			</div>
		</div>


	</div>
	{#  #}
</div>
