<div class="w-100 d-flex {% if (justify_center is defined) %} {{ justify_center }} {% endif %} align-items-center my-4">
	<a class="social_a p-3 d-flex me-3" title="facebook" target="_blank" href="https://www.google.com">
		<i class="ic fab fa-facebook-f"></i>
	</a>
	<a class="social_a p-3 d-flex me-3" title="twitter" target="_blank" href="https://www.google.com">
		<i class="ic fab fa-twitter"></i>
	</a>
	<a class="social_a p-3 d-flex me-3" title="github" target="_blank" href="https://www.google.com">
		<i class="ic fab fa-github"></i>
	</a>
	<a class="social_a p-3 d-flex me-3" title="linkedin" target="_blank" href="https://www.google.com">
		<i class="ic fab fa-linkedin-in"></i>
	</a>
</div>
